*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: #34ebcf;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    width: 100%;  
    }

.nav{
    display: inline-block;     
    display:flex;
    align-items: center;        
}

.header__logo{
    width: 100px;
    height: 100px;     
}

.item{padding-left: 25px;
    color: white; 
    text-decoration-line: none; 
    }

.h1{
padding: 10px;
text-align-last: center;
font-size: 50px;
text-decoration-line: underline;
background-color: orange;
}

.clientes{
    width: 300px;
    height: 200px;
}

.obras{
    width: 600px;
    height: 450px;
}

.h2{
    text-decoration-line: underline;
}

.footer{
    background-color: #34ebcf;
    color: black;    
    padding: 30px;
}

.redes{
    color: black;
    list-style: none;
}
a:link{
    color: black;
}
a:visited{
    color: grey;
}
a:hover{
    color: yellow;
}
a:active{
color: red;    
}
.formato{
    padding: 30px;
    text-align: justify;
    background-color: #aaf2dc;
}